.button-container {
  width: fit-content;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0px 25px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  white-space: nowrap;

  @media (hover: hover) {
    &:hover {
      background-color: white;
      color: black;
    }
  }

  &.reset-zoom {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    height: 32px;
    line-height: 30px;
    padding: 0px 15px;
  }

  &.chart-reset-zoom {
    font-size: 8px;
    height: 20px;
    line-height: 19px;
    padding: 0px 4px;
    position: absolute;
    bottom: 3px;
    left: 3px;
  }
}
