.button-container {
  width: fit-content;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0px 25px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  white-space: nowrap;

  @media (hover: hover) {
    &:hover {
      background-color: white;
      color: black;
    }
  }

  // &.small {
  //   height: 34px;
  //   line-height: 34px;
  //   padding: 0px 12px;
  // }

  // &.centered {
  //   margin: 0 auto;
  // }

  // &.inverted {
  //   background-color: white;
  //   color: black;
  //   transition: all 0.3s ease;

  //   @media (hover: hover) {
  //     &:hover {
  //       transform: scale(1.1);
  //     }
  //   }
  // }

  &.reset-zoom {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    height: 32px;
    line-height: 30px;
    padding: 0px 15px;
  }
}

// @media (max-width: 785px), (max-height: 550px) {
//   .button-container {
//     height: 34px;
//     line-height: 34px;
//     padding: 0px 12px;
//   }
// }

// @media (max-width: 590px) {
//   .button-container {
//     font-size: 10px;
//     height: 26px;
//     line-height: 26px;
//     padding: 0px 8px;
//   }
// }
