.option-panel-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2px;
}

@media (max-width: 900px) {
  .option-panel-container {
    margin: 0px auto 12px;
  }
}