.drbc-layout {
  width: 100vw;
  overflow-y: scroll;
  background-color: #a7a9a8;
  min-height: 100vh;

  .drbc-content-container {
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #drb-idf-main-container {
      .panel-left {
        width: 600px;
      }

      .panel-right {
        width: 600px;
      }

      .panel-row {
        display: flex;
      }

      .middle-row {
        height: 55px;
        margin-top: 10px;
      }

      .bottom-row {
        border-top: 1px solid rgb(180, 180, 180);
        border-bottom: 1px solid rgb(180, 180, 180);
      }
    }

    #hidden-pdf-table {
      position: absolute;
      z-index: -1;
    }
  }
}
